body {
    background-color: #ffd6ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: #9674fc;
    background-color: #62b6cb;
    border-radius: 15px;
    margin:0px;
}

h3 {
    color: #9674fc;
}

input[type]:checked+label {
    color: black;
    padding-top: 50% ;
}

a {
    text-decoration: none;
    color: rgb(110, 67, 237);
    
}

.side{
   
    margin-left: 50%;
      background-color: transparent;
}
.outter:nth-of-type(2n+1){
    background-color:#5fa8d3;
    border-radius: 15px; 
}

.outter:nth-of-type(2n){
    background-color:#084c73; 
    border-radius: 15px;
}
